:root {
  /* ======================
     🎨 Color Variables
     ====================== */

  /* Text */
  --color-text-dark: #403F3D;    /* Dark */
  --color-text-light: #E1D4C9;   /* Light */
  --color-text-accent: #B0907A;  /* Accent */

  /* Background */
  --color-bg-body: #E1D4C9;      /* Body */
  --color-bg-container: #665F55; /* Container */
  --color-bg-backdrop: #403F3D;  /* Backdrop */

  /* Border */
  --color-border-light: #C1B6AD; /* Light */
  --color-border-dark: #665F55;  /* Dark */

  //width: 100vw;
  //height: 100vh;
  //padding: 0;
  //margin: 0;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}