coffee-house/node_modules
coffee-house-react/node_modules
admin/node_modules

# build outputs
coffee-house-react/build
coffee-house-react/dist

# environment variables
coffee-house-react/.env
coffee-house-react/.env.local
coffee-house-react/.env.development.local
coffee-house-react/.env.test.local
coffee-house-react/.env.production.local

# logs
coffee-house-react/npm-debug.log*
coffee-house-react/yarn-debug.log*
coffee-house-react/yarn-error.log*

# editor-specific
coffee-house-react/.idea/
coffee-house-react/.vscode/
coffee-house-react/.env/

# macOS
coffee-house-react/.DS_Store
coffee-house/node_modules/
coffee-house/dist
admin/node_modules/
admin/package-lock.json
admin/dist
admin/.env
