<section class="about">
    <div class="about__content">
        <h2 class="heading-2">
            Resource is <i class="accent">the perfect and cozy place </i>where you can enjoy a variety of hot beverages,
            relax, catch up with friends, or get some work done. </h2>
        <div class="about-flex">
            <div class="column">
                <div class="grid-item"><img loading="lazy" src="assets/images/about-image-1.png" alt="coffee 1"></div>
                <div class="grid-item"><img loading="lazy" src="assets/images/about-image-3.png" alt="coffee 3"></div>
            </div>
            <div class="column">
                <div class="grid-item"><img loading="lazy" src="assets/images/about-image-2.png" alt="coffee 2"></div>
                <div class="grid-item"><img loading="lazy" src="assets/images/about-image-4.png" alt="coffee 4"></div>
            </div>
        </div>
    </div>
</section>