<section class="hero">
    <video class="enjoy-bg-video" autoplay muted loop playsinline>
        <source src="https://www.pexels.com/ru-ru/download/video/2909914/" type="video/mp4" />
    </video>
    <div class="hero__content">
        <h1 class="heading-1">
            <i class="accent">Enjoy</i> premium coffee at our charming cafe
        </h1>
        <p class="text-medium">
            With its inviting atmosphere and delicious coffee options, the Coffee House Resource is a popular
            destination for coffee lovers and those seeking a warm and inviting space to enjoy their favorite beverage.
        </p>
        <a href="menu.html" class="button button--primary">
            <span>Menu</span>
            <img src="assets/icons/coffee-cup.png" alt="menu"></button>
        </a>
    </div>
</section>