<div id="coffee-slider-container" class="coffee-slider-container">
    <h2 class="heading-2">Choose your <i class="accent">favorite</i> coffee</h2>
    <div id="coffee-slider" class="coffee-slider">
        <button id="left-slider-button" class="slider-btn prev">&larr;</button>
        <div class="coffee-slides" id="coffee-slides">
            <!-- Slides will be injected here by JS -->
        </div>
        <button id="right-slider-button" class="slider-btn next">&rarr;</button>
    </div>
    <div id="loader-placeholder"></div>

    <div class="slider-dots" id="slider-dots">
        <!-- Dots will be injected here by JS -->
    </div>

</div>