<section class="contacts">
    <div class="contacts-container">
        <div class="contacts-content">
            <h2 class="heading-2">
                <span class="accent">Download</span> our apps
                to start ordering
            </h2>
            <p class="text-medium">
                Download the Resource app today and experience the comfort of ordering your
                favorite coffee from wherever you are.
            </p>

            <div class="app-buttons">
                <div class="app-btn" data-type="ios"></div>
                <div class="app-btn" data-type="android"></div>
            </div>

        </div>

        <div class="contacts-images">
            <img src="../assets/images/contacts-mobile-phones.png" alt="App preview 1" class="phone" />
        </div>
    </div>
</section>