<footer class="footer" id="contact">
    <div class="footer-content">
        <div class="footer-left">
            <h2 class="heading-2">Sip, Savor, Smile. <i class="accent">It's coffee time!</i></h2>
            <div class="social-icons"></div> <!-- JS will fill this -->
        </div>

        <div class="footer-right">
            <h3 class="heading-3">Contact us</h3>
            <ul>
                <li class="text-link-button"><img width="20" height="20" src="assets/icons/pin.png"/> 85384 Green Blvd, LA</li>
                <li class="text-link-button"><img width="20" height="20" src="assets/icons/phone.png"/>  +1 (803) 550-0123</li>
                <li class="text-link-button"><img width="20" height="20" src="assets/icons/clock.png"/>  Mon–Sat: 9:00 AM – 23:00 PM</li>
            </ul>
        </div>
    </div>
</footer>
  