<footer class="footer" id="contact">
    <div class="container">
      <p class="slogan">Sip, Savor, Smile. <span>It’s coffee time!</span></p>
  
      <div class="contacts">
        <p>📍 123 Coffee St, Espresso City</p>
        <p>📧 hello@coffeehouse.com</p>
        <p>📞 +1 234 567 890</p>
      </div>
  
      <div class="socials">
        <a href="#"><img src="assets/icons/facebook.png" alt="Facebook"></a>
        <a href="#"><img src="assets/icons/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="assets/icons/twitter.png" alt="Twitter"></a>
      </div>
    </div>
  </footer>
  