<header class="navbar">
  <div class="container">
    <a href="index.html" class="logo"><img src="assets/logos/logo.png" alt="Coffee House"></a>
    <nav>
      <ul class="nav-links">
        <li><a class="text-link-button" href="index.html#coffee-slider">Favorite Coffee</a></li>
        <li><a class="text-link-button" href="index.html#about">About</a></li>
        <li><a class="text-link-button" href="index.html#app-download">Download App</a></li>
        <li><a class="text-link-button" href="index.html#contact">Contacts</a></li>
      </ul>
    </nav>
    <button class="menu-toggle">
      <span class="text-link-button">Menu</span>
      <img src="assets/icons/coffee-cup.png" alt="menu"></button>
  </div>
</header>