<header class="navbar">
    <div class="container">
      <a href="index.html" class="logo"><img src="assets/logos/logo.png" alt="Coffee House"></a>
      <nav>
        <ul class="nav-links">
          <li><a href="index.html#hero">Home</a></li>
          <li><a href="index.html#coffee-slider">Favorite Coffee</a></li>
          <li><a href="index.html#about">About</a></li>
          <li><a href="index.html#app-download">Download App</a></li>
          <li><a href="index.html#contact">Contacts</a></li>
        </ul>
      </nav>
      <button class="menu-toggle">☰</button>
    </div>
  </header>
  