<section class="hero">
    <div class="hero__content">
        <h1 class="heading-1">
            <i class="accent">Enjoy</i> premium coffee at our charming cafe
        </h1>
        <p class="text-medium">
            With its inviting atmosphere and delicious coffee options, the Coffee House Resource is a popular
            destination for coffee lovers and those seeking a warm and inviting space to enjoy their favorite beverage.
        </p>
        <button class="button button--primary">
            <span>Menu</span>
            <img src="assets/icons/coffee-cup.png" alt="menu"></button>
        </button>
    </div>
</section>