<section id="menu" class="menu-section">
    <div class="menu-header">
      <h2>Our Menu</h2>
      <div class="menu-tabs">
        <button class="tab active" data-category="coffee">
          <img src="assets/icons/coffee.png" alt="coffee">
          Coffee
        </button>
        <button class="tab" data-category="tea">
          <img src="assets/icons/tea.png" alt="tea">
          Tea
        </button>
        <button class="tab" data-category="dessert">
          <img src="assets/icons/dessert.png" alt="dessert">
          Dessert
        </button>
      </div>
    </div>
  
    <div id="menu-products" class="menu-grid"></div>
  </section>
  