<section id="menu" class="menu-section">
  <div class="menu-header">
    <div class="menu-tabs">
      <button class="tab active" data-category="coffee">
        <div class="menu-wrapper">
          <img loading="lazy" src="assets/icons/coffee.png" alt="coffee">

        </div>
        Coffee
      </button>
      <button class="tab" data-category="tea">
        <div class="menu-wrapper">
          <img loading="lazy" src="assets/icons/tea.png" alt="tea">
        </div>
        Tea
      </button>
      <button class="tab" data-category="dessert">
        <div class="menu-wrapper">
          <img loading="lazy" src="assets/icons/dessert.png" alt="dessert">
        </div>
        Dessert
      </button>
    </div>
  </div>

  <div id="menu-products" class="menu-grid"></div>
  <div id="loader-placeholder"></div>

</section>