<div class="mobile-navbar-container">
    <nav class="menu-panel">
        <ul class="nav-links">
            <li class="mobile-menu-buttons"><a class="text-burger-link" href="index.html#coffee-slider">Favorite
                    Coffee</a></li>
            <li class="mobile-menu-buttons"><a class="text-burger-link" href="index.html#about">About</a></li>
            <li class="mobile-menu-buttons"><a class="text-burger-link" href="index.html#download-app">Download App</a>
            </li>

            <li class="mobile-menu-buttons"><a href="menu.html" class="mobile-menu-toggle">
                    <span class="text-burger-link">Menu</span>
                    <img src="assets/icons/coffee-cup.png" alt="menu">
                </a>
            </li>
        </ul>
    </nav>
</div>