<!-- Product Modal -->
<div id="product-modal" class="modal hidden">
  <div class="modal-content">
    <img class="modal-image" src="" alt="Product image" />
    <div class="modal-details">
      <h3 class="modal-title heading-3"></h3>
      <p class="modal-description text-medium"></p>

      <div class="option-group">
        <p class="text-medium">Size</p>
        <div class="sizes"></div>
      </div>

      <div class="option-group">
        <p class="text-medium">Additives</p>
        <div class="additives"></div>
      </div>
      <div class="total">
        <strong class="heading-3">Total:</strong>
        <span class="price heading-3">$0.00</span>
      </div>

      <div class="note">
        <img height="16" width="16" src="assets/icons/info-empty.png"></img>
        <div class="text-caption"> The cost is not final. Download our mobile app to see the
          final price and place your order. Earn loyalty points and enjoy your favorite coffee with up to 20%
          discount.</div>
        </div>
      <button class="close-btn text-link-button">Close</button>
    </div>
  </div>
</div>