<div class="shopping-cart-container">
    <h2 class="cart-title heading-2">Cart</h2>
    <div id="cart-items"></div>
    <div id="loader-placeholder"></div>
    <div id="cart-summary" class="cart-summary">
        <p><strong class="heading-3">Total:</strong> <span id="total-price">$0.00</span></p>
        <p><strong class="heading-3">Address:</strong> <span id="address">-</span></p>
        <p><strong class="heading-3">Pay by:</strong> <span id="pay-by">-</span></p>
    </div>
    <div class="cart-actions" id="cart-actions"></div>
</div>