@use "../variables" as *;

.navbar {
  padding: 0;
  margin: 20px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    aspect-ratio: 100/60;
    max-width: 100px;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;


    li {
      height: 26.6px;

      a {
        color: $color-text-dark;
        text-decoration: none;

      }

      &:hover {
        border-bottom: 2px solid $color-text-dark;

      }
    }
  }

  .menu-toggle {
    // hidden on desktop
    background-color: transparent;
    border: none;
    align-items: center;
    display: flex;
    gap: 8px;
    &:hover {
      border-bottom: 2px solid $color-text-dark;

    }

    img {
      height: 20px;
      width: 20px;
    }
  }
}